@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #1d1d1f;
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.sticky-div {
	position: sticky;
	bottom: 10px;
	transform: translateX(40%);
}

.text-shadow {
	text-shadow: -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white,
		1px 1px 1px white, 0 0 3px white, 0 0 10px white, 0 0 20px white,
		0 0 30px #ff6600, 0 0 40px #ff6600, 0 0 50px #ff6600, 0 0 70px #ff6600,
		0 0 100px #ff6600;
}
