@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #1d1d1f;
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.sticky-div {
	position: sticky;
	bottom: 10px;
	transform: translateX(40%);
}
